<ion-header>
  <ion-toolbar>
    <ion-title>Print Requests</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="sortToggle()">
        <ion-icon slot="icon-only" name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar (ionChange)="applyFilter($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let request of filteredRequests">
      <ion-item>
        <ion-label>
          Copies: {{request.copies}},
          Size: {{request.paperSize}},
          Quality: {{request.inkQuality}}
          <!-- Add other details as needed -->
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-button color="danger" (click)="deleteRequest(request.id)">
          Delete
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
