
<ion-header>
  <ion-toolbar>
    <ion-title>Tab 3</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="print()">Print</ion-button>
      <ion-button (click)="reversePrint()">Reverse Print</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="half-container">
    <h2>List1</h2>
    <ion-list>
      <ion-item *ngFor="let item of List1; let i = index" id="item-{{i}}">
        {{ item | json}} 
      </ion-item>
    </ion-list>
  </div>
  <div class="half-container">
    <h2>List2</h2>
    <ion-list>
      <ion-item *ngFor="let item of List2">
        {{ item | json}} 
      </ion-item>
    </ion-list>
  </div>
</ion-content>